<div class="main-content">
    <div class="container-fluid">


        <div class="row">
            <div class="col-md-12">
                <div class="card navbar-fixed">
                    <div class="header">Pesquisar CIF</div>
                    <div class="content">
                        
            

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="main-panel">
                    <div class="card">
                        <div class="content" style="height: 2000px;">

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>